<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Untitled</title>
  </head>
  <body>
    <h1>AsyncRR Example</h1>
    <webobject name="Form">
      <webobject name="Types" />
      <webobject name="ButtonSelectType" />
      <webobject name="IsTypeJQuery">
        <h2>JQuery</h2>
        <webobject name="JQUpdateContainer">
          <webobject name="TextAdd" />
          <webobject name="JQButtonAdd" />
          <webobject name="JQLinkClear">clear</webobject>
          <webobject name="FullString" />
        </webobject>
      </webobject>
      <webobject name="IsTypeMooTools">
        <h2>MooTools</h2>
        <webobject name="MTUpdateContainer">
          <webobject name="TextAdd" />
          <webobject name="MTButtonAdd" />
          <webobject name="MTLinkClear">clear</webobject>
          <webobject name="FullString" />
          <webobject name="MTObserverInside">inside update container: <webobject name="PopupInside" /></webobject>
        </webobject>
        <webobject name="MTObserverOutside">outside update container: <webobject name="PopupOutside" /></webobject>
      </webobject>
      <webobject name="IsTypePrototype">
        <h2>Prototype</h2>
        <webobject name="PTUpdateContainer">
          <webobject name="TextAdd" />
          <webobject name="PTButtonAdd" />
          <webobject name="PTLinkClear">clear</webobject>
          <webobject name="FullString" />
          <webobject name="PTObserverInside">inside update container: <webobject name="PopupInside" /></webobject>
        </webobject>
        <webobject name="PTObserverOutside">outside update container: <webobject name="PopupOutside" /></webobject>
      </webobject>
      <webobject name="IsTypeWonderMooTools">
        <h2>Wonder MooTools</h2>
        <webobject name="WonderMTUpdateContainer">
          <webobject name="TextAdd" />
          <webobject name="WonderMTButtonAdd" />
          <webobject name="WonderMTLinkClear">clear</webobject>
          <webobject name="FullString" />
          <webobject name="WonderMTObserverInside">inside update container: <webobject name="PopupInside" /></webobject>
        </webobject>
        <webobject name="WonderMTObserverOutside">outside update container: <webobject name="PopupOutside" /></webobject>
      </webobject>
      <webobject name="IsTypeWonderPrototype">
        <h2>Wonder Prototype</h2>
        <webobject name="WonderPTUpdateContainer">
          <webobject name="TextAdd" />
          <webobject name="WonderPTButtonAdd" />
          <webobject name="WonderPTLinkClear">clear</webobject>
          <webobject name="FullString" />
          <webobject name="WonderPTObserverInside">inside update container: <webobject name="PopupInside" /></webobject>
        </webobject>
        <webobject name="WonderPTObserverOutside">outside update container: <webobject name="PopupOutside" /></webobject>
      </webobject>
    </webobject>
  </body>
</html>